# Server Configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Database
MONGO_URI=mongodb://localhost:27017/f_ids_db

# Redis Cache & Queues
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Authentication
JWT_SECRET=super_secret_jwt_key_f_ids_2026
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=super_secret_refresh_jwt_key_2026
JWT_REFRESH_EXPIRES_IN=30d

# Machine Learning Microservice
ML_SERVICE_URL=http://localhost:8000
